.footer 
    color: $white
    padding: 150px 0 185px 0
    background: #343434
    &__wrap 
        display: flex
        justify-content: space-between
        @include _320
            flex-direction: column-reverse
            align-items: center
    &__search-input
        width: 100%
       
        

		


.footer-about, .footer-services

    &__title 
        font-size: 37.5px
        font-weight: 600
        @include _320
            font-size: 75px
            margin-top: 100px
            text-decoration: underline

    &__tist 
        list-style: none
        padding: 0

    &__item 
        font-size: 25px
        font-weight: 400
        line-height: 44px
        @include _320
            font-size: 50px
            line-height: 100px

        & a 
            transition: color 0.2s
            color: $white
            &:hover
                color: grey



.footer-social 
    text-align: right
    @include _320
        text-align: center
    &__title 
        font-size: 37.5px
        font-weight: 600
        line-height: 8px
        @include _320
            font-size: 63px
             
		

    &__subtitle 
        font-size: 25px
        font-weight: 400
        line-height: 33px
        @include _320
            font-size: 50px
            line-height: 66px

    &__search
        justify-content: flex-end
        box-shadow: none
        @include _320
            margin: 0
            width: auto
		

    &__icons
        margin-top: 50px
        display: flex
        justify-content: flex-end
        gap: 15px
        @include _320
            justify-content: center
    &__icons-item
        display: block
        height: 45px
        width: 45px
        transition: background-position-y 0.2s
        background-image: url(../img/social-footer.png)
        &:hover
            background-position-y: -45px !important
		


#icon-inst-footer
    background-position: 0 0
#icon-face-footer
    background-position: 164px 0
#icon-tweet-footer
    background-position: 102px 0
#icon-wa-footer
    background-position: 45px 0



.footer-social__search-logo
    padding: 14px 60px

