@import 'var'
	
body
	box-sizing: border-box
	font-family: 'Poppins', sans-serif
	
*
	scroll-behavior: smooth


.container
	max-width: 1162px
	margin: 0 auto
	padding: 0 20px
	overflow: hidden

a
	text-decoration: none



.section-content 

	&__title
		font-size: 67px
		font-weight: 600
	&__subtitle 
		font-size: 29px
		font-weight: 400
	&__btn 
		box-sizing: border-box
		font-size: 21px
		color: $white
		font-weight: 600
		padding: 16px 31px
		border-radius: 10px
		display: inline-block
		transition: box-shadow 0.2s
		&:hover
			box-shadow: inset 0px 0px 3px 1px rgba(122,122,122,0.8)
		



.card-block 
	
	&__title 
		font-size: 75px
		font-weight: 700

	&__subtitle 
		padding-top: 55px
		font-size: 33px
		font-weight: 400
	&__item-wrap 
		padding-top: 100px
		display: flex
		justify-content: space-between

	

		

.card 
	display: flex
	flex-direction: column
	& + &
		margin-left: 50px
	&__img 
		width: 342px
		height: 353px
		border: 6px solid $white

	&__service-name 
		padding-top: 55px
		font-size: 37.5px
		font-weight: 600
	&__service-about 
		padding-top: 30px
		font-size: 25px
		font-weight: 400



@import 'header','hero','promo','services','promo-2','team','statistic','blog','footer'

